<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//KO"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.DepositRepository">

    <delete id="reset">
        TRUNCATE depositProduct
    </delete>

    <select id="selectOne" parameterType="String" resultType="depositDto">
        SELECT * FROM depositProduct WHERE fin_prdt_cd=#{id}
    </select>
    <select id="getDepositList" parameterType="int[]" resultType="depositDto">
        SELECT distinct p.*,I.basic_intr,I.best_intr,fin_co_info.img_url
        FROM depositProduct AS p
        JOIN (SELECT fin_prdt_cd, min(intr_rate) AS basic_intr, max(intr_rate2) AS best_intr from depositOption
        GROUP BY fin_prdt_cd) AS I ON p.fin_prdt_cd = I.fin_prdt_cd
        JOIN fin_co_info ON p.fin_co_no = fin_co_info.fin_co_no
        JOIN depositKeyword AS k ON p.fin_prdt_cd = k.product_id
        WHERE k.term_class IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="select" resultType="depositDto">
        SELECT P.*, I.basic_intr,I.best_intr,fin_co_info.img_url FROM depositProduct as P
        JOIN (SELECT fin_prdt_cd, min(intr_rate) AS basic_intr, max(intr_rate2) AS best_intr from depositOption
              GROUP BY fin_prdt_cd) AS I ON P.fin_prdt_cd = I.fin_prdt_cd
        JOIN fin_co_info ON P.fin_co_no = fin_co_info.fin_co_no
    </select>
    <insert id="insert" parameterType="depositDto">
        INSERT INTO depositProduct VALUES (#{finPrdtCd},#{dclsMonth},#{finCoNo},#{korCoNm},#{finPrdtNm},#{joinWay},#{mtrtInt},#{spclCnd},#{joinDeny},#{joinMember},#{etcNote},#{maxLimit},#{dclsStrtDay},#{dclsEndDay},#{finCoSubmDay})
    </insert>
    <update id="update" parameterType="depositDto">
        UPDATE depositProduct SET dcls_month=#{dclsMonth},fin_co_no=#{finCoNo},kor_co_nm=#{korCoNm},fin_prdt_nm=#{finPrdtNm},join_way=#{joinWay},mtrt_int=#{mtrtInt},spcl_cnd=#{spclCnd},join_deny=#{joinDeny},join_member=#{joinMember},etc_note=#{etcNote},max_limit=#{maxLimit},dcls_strt_day=#{dclsStrtDay},dcls_end_day=#{dclsEndDay},fin_co_subm_day=#{finCoSubmDay} where fin_prdt_cd=#{finPrdtCd}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM depositProduct WHERE fin_prdt_cd=#{id}
    </delete>

</mapper>