<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//KO"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hana.app.repository.DepositKeywordRepository">

    <select id="selectOne" parameterType="depositKeywordDto" resultType="depositKeywordDto">
        SELECT * FROM depositKeyword WHERE product_id=#{productId} and term_id=#{termId}
    </select>
    <select id="select" resultType="depositDto">
        SELECT * FROM depositKeyword
    </select>
    <update id="update" parameterType="depositKeywordDto">
            UPDATE depositKeyword
            SET term_class = #{termClass},
                term_content = #{termContent},
                term_rate = #{termRate}
            WHERE product_id = #{productId} AND term_id = #{termId}
    </update>
    <delete id="delete" parameterType="depositKeywordPKDto">
        DELETE FROM depositKeyword WHERE product_id=#{productId} and term_id=#{termId}
    </delete>

    <delete id="reset">
        TRUNCATE depositKeyword
    </delete>

    <insert id="insert" parameterType="depositKeywordDto">
    INSERT INTO depositKeyword VALUES (#{productId},#{termId},#{termClass},#{termContent},#{termRate})
    </insert>

    <select id="selectDepositKeywordList" parameterType="String" resultType="depositKeywordDto">
        SELECT distinct term_class FROM depositKeyword WHERE product_id=#{productId} AND term_class!=13
        ORDER BY 1
    </select>

</mapper>