<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//KO"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.SavingOptionRepository">

    <delete id="reset">
        TRUNCATE savingOption
    </delete>

    <insert id="insert" parameterType="savingOptionDto">
        INSERT INTO savingOption VALUES (#{finPrdtCd},#{intrRateType},#{rsrvType},#{saveTrm},#{intrRate},#{intrRate2})
    </insert>
    <select id="getIntr" parameterType="String" resultType="savingOptionDto">
        SELECT * FROM savingOption WHERE fin_prdt_cd=#{id}  ORDER BY convert(save_trm, UNSIGNED)
    </select>
</mapper>