<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//KO"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.SavingRepository">

    <delete id="reset">
        TRUNCATE savingProduct
    </delete>
    <select id="select" resultType="savingDto">
        SELECT P.*, I.basic_intr,I.best_intr,fin_co_info.img_url FROM savingProduct as P
        JOIN (SELECT fin_prdt_cd, min(intr_rate) AS basic_intr, max(intr_rate2) AS best_intr from savingOption
        GROUP BY fin_prdt_cd) AS I ON P.fin_prdt_cd = I.fin_prdt_cd
        JOIN fin_co_info ON P.fin_co_no = fin_co_info.fin_co_no
    </select>
    <select id="getSavingList" parameterType="int[]" resultType="savingDto">
        SELECT distinct p.*,I.basic_intr,I.best_intr,fin_co_info.img_url
        FROM savingProduct AS p
        JOIN (SELECT fin_prdt_cd, min(intr_rate) AS basic_intr, max(intr_rate2) AS best_intr from savingOption
        GROUP BY fin_prdt_cd) AS I ON p.fin_prdt_cd = I.fin_prdt_cd
        JOIN fin_co_info ON p.fin_co_no = fin_co_info.fin_co_no
        JOIN savingKeyword AS k ON p.fin_prdt_cd = k.product_id
        WHERE k.term_class IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectOne" parameterType="String" resultType="savingDto">
        SELECT P.*, I.basic_intr, I.best_intr, fin_co_info.img_url
        FROM savingProduct as P
                 JOIN (SELECT fin_prdt_cd, min(intr_rate) AS basic_intr, max(intr_rate2) AS best_intr
                       from savingOption
                       GROUP BY fin_prdt_cd) AS I ON P.fin_prdt_cd = I.fin_prdt_cd
                 JOIN fin_co_info ON P.fin_co_no = fin_co_info.fin_co_no
        where P.fin_prdt_cd = #{id}
    </select>
    <insert id="insert" parameterType="savingDto">
        INSERT INTO savingProduct VALUES (#{finPrdtCd},#{dclsMonth},#{finCoNo},#{korCoNm},#{finPrdtNm},#{joinWay},#{mtrtInt},#{spclCnd},#{joinDeny},#{joinMember},#{etcNote},#{maxLimit},#{dclsStrtDay},#{dclsEndDay},#{finCoSubmDay})
    </insert>
    <update id="update" parameterType="savingDto">
        UPDATE savingProduct SET dcls_month=#{dclsMonth},fin_co_no=#{finCoNo},kor_co_nm=#{korCoNm},fin_prdt_nm=#{finPrdtNm},join_way=#{joinWay},mtrt_int=#{mtrtInt},spcl_cnd=#{spclCnd},join_deny=#{joinDeny},join_member=#{joinMember},etc_note=#{etcNote},max_limit=#{maxLimit},dcls_strt_day=#{dclsStrtDay},dcls_end_day=#{dclsEndDay},fin_co_subm_day=#{finCoSubmDay} where fin_prdt_cd=#{finPrdtCd}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM savingProduct WHERE fin_prdt_cd=#{id}
    </delete>

</mapper>